/* Imports */
@import "util";
@import "theme";


/* Mobile-First, Responsive Set-Up */
html
{
	font-size: 100%;
}

*
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*html, body
{
	height: 100%;
	width: 100%;
}*/

body
{
	background-color: #fff;
	font-family: @font-body;
	font-weight: @font-body-weight;
	margin: 0;
	text-align: center;
	padding: 0;
	position: relative;
}


/* Main Styles */
header#header
{
	background-color: rgba(255, 255, 255, 0.15);
	/*border-bottom: 1px solid #eaeaea;*/
	border-top: 3px solid @color-primary;
	height: 4rem;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

h1#brand
{
	margin: 0;
	padding-top: 0.4rem;

	img
	{
		height: 2rem;
	}
}

#toggle-nav
{
	background-color: @color-primary;
	margin: 1rem;
	overflow: hidden;
	padding: 0.5rem;
	position: fixed;
	right: 0;
	top: 0;
	width: 2.5rem;
	z-index: 9999;

	& > span
	{
		background-color: #5d4c4d;
		display: block;
		height: 2px;
		width: 100%;

		&:first-child + span
		{
			margin: 5px 0;
		}
	}
}

nav#nav
{
	display: none;
	z-index: 9000;
}

#welcome
{
	background: url('http://i.imgur.com/2XP7vMA.jpg') top center;
	background-size: cover;
	display: table;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	h2
	{
		color: #fff;
		display: table-cell;
		font-size: 3rem;
		font-weight: 500;
		text-transform: uppercase;
		vertical-align: middle;
	}
}

main#main
{
	background-color: #fff;
	border-top: 1px solid #eaeaea;
	margin-top: 100vh;
	position: relative;
	z-index: 3000;
}

footer#footer
{
	background-color: #eaeaea;
	position: relative;
	z-index: 3000;

	.social-media
	{
		a
		{
			margin: 1.25rem;
		}
	}

	.closing
	{
		background-color: @color-primary;

		&, & a
		{
			color: #fff;
		}

		& a
		{
			font-weight: 500;
		}

		p
		{
			float: right;

			&.copyright
			{
				float: left;
			}
		}
	}
}

.browsehappy
{
	background-color: #ccc;
	color: #000;
	margin: 0.2rem 0;
	padding: 0.2rem 0;
}


/* General Styles */
a
{
	color: @color-primary;
}

section
{
	padding: 0.75rem;
}

.container
{
	&:before, &:after
	{
		content: ' ';
		display: table;
	}

	&:after
	{
		clear: both;
	}
}


/* General Style Overrides */
a
{
	text-decoration: none;
}

img
{
	vertical-align: middle;
}

ul
{
	list-style: none;
	padding-left: 0;
}


/* Media Queries */
@media screen and (min-width: 50rem)
{


/* General Styles */
.container
{
	margin: auto;
	max-width: 50rem;
	width: 100%;
}


}