<section id="portfolio">
	<div class="container">
		<h2>Portfolio</h2>
	</div>

	<article>
		<header>
			<h3>Town Hack</h3>
		</header>
		<div>
			<img src="images/pf-townhack.png">
		</div>
	</article>

	<article>
		<header>
			<h3>State of Ohio</h3>
		</header>
		<div>
			<img src="images/pf-stateofohio.png">
		</div>
	</article>
</section>

<section id="services">
	<div class="container">
		<h2>What We Have to Offer</h2>
		<p>Need to fill in some service related content.</p>
	</div>
</section>

<section id="">
	<div class="container">
		<h2>Tech Stack</h2>
		
		<h3>HTML5 Boilerplate</h3>
		<p>
			HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
		</p>

		<h3>Angular</h3>
		<p>
			AngularJS is a toolset for building the framework most suited to your application development.
		</p>

		<h3>Karma</h3>
		<p>Spectacular Test Runner for JavaScript.</p>
	</div>
</section>