<!-- <section id="portfolio">
	<div class="container">
		<h2>Portfolio</h2>
	</div>

	<article>
		<header>
			<h3>Town Hack</h3>
		</header>
		<div>
			<img src="images/pf-townhack.png">
		</div>
	</article>

	<article>
		<header>
			<h3>State of Ohio</h3>
		</header>
		<div>
			<img src="images/pf-stateofohio.png">
		</div>
	</article>
</section> -->

<section id="services">
	<div class="container">
		<h2>What We Have to Offer</h2>
		
		<h3>Modern Web Development</h3>
		<ul>
			<li>Mobile-First, Responsive Web Design</li>
			<li>Structured Data Markup (for search engines)</li>
			<li>SEO Included By Default</li>
			<li>Site Indexing in Major Search Engines</li>
		</ul>

		<h3>UX / UI Design</h3>
		<ul>
			<li>Clean</li>
			<li>Modern</li>
			<li>Responsive</li>
			<li>Simple for Users</li>
			<li>Intuitive</li>
			<li>Logical</li>
		</ul>
	</div>
</section>

<section id="contact">
	<div class="container">
		<h2>Contact</h2>

		<h3><a href="tel:+15555555555">+1 555 555 5555</a></h3>
		<h3><a href="mailto:team@renobit.com">team@renobit.com</a></h3>
	</div>
</section>