<section id="about">
	<div class="container">
		<h2>What Makes Us Different</h2>
		<p>Need to fill in some stuff about how awesome we are.</p>
	</div>
</section>

<section id="services">
	<div class="container">
		<h2>What We Have to Offer</h2>
		<p>Need to fill in some service related content.</p>
	</div>
</section>

<section id="">
	<div class="container">
		<h2>Tech Stack</h2>
		
		<h3>HTML5 Boilerplate</h3>
		<p>
			HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
		</p>

		<h3>Angular</h3>
		<p>
			AngularJS is a toolset for building the framework most suited to your application development.
		</p>

		<h3>Karma</h3>
		<p>Spectacular Test Runner for JavaScript.</p>
	</div>
</section>